/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #111013;
  --white: #fff;
  --whitish: #f3ebff;
  --blackish: #1e1426;

  --switch-background: #d2d2d2;
  --switch-size: 2.75em;

  --primary-background-color: var(--whitish);
  --primary-font-color: var(--darkgray);
  --secondary-font-color: var(--blackish);
  --primary-link-color: var(--darkgray);
  --primary-border-color: var(--lightgray);
}

.dark-mode {
  --switch-background: #cd9a15;

  --primary-background-color: var(--blackish);
  --primary-font-color: var(--lightgray);
  --secondary-font-color: var(--darkgray);
  --primary-link-color: --white;
  --primary-border-color: var(--lightgray);
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Sen', -apple-system, system-ui, sans-serif;
  color: var(--primary-font-color);
  background-color: var(--primary-background-color);
  min-height: 100vh;
}

p:last-child {
  margin-bottom: 0;
}

.tmpl-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tmpl-post li,
img {
  max-width: 37.5em;
  /* 600px /16 */
}

p,
.tmpl-post li {
  line-height: 1.45;
}

a[href] {
  color: var(--primary-link-color);
}

main {
  padding: 1rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  text-align: center;
}

table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}

pre {
  font-size: 1.125em;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}

code {
  word-break: break-all;
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none;
  /* override del, ins, mark defaults */
  color: inherit;
  /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}

/* avoid double line breaks when using display: block; */
.highlight-line+br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}

.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}

.highlight-line-add {
  background-color: #45844b;
}

.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0;
  /* 16px /16 */
  font-size: 1.125em;
  /* 16px /16 */
}

.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
  margin-left: 1em;
  position: relative;
}

.nav-item {
  display: inline-block;
  margin-right: 1em;
  font-size: 1.125em;
}

.nav-item a[href] {
  text-decoration: none;
}

.nav-item-active {
  font-weight: 700;
  text-decoration: none;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-item {
  --shadow-size: .25em;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.8;
  margin: 1em 0 4em 0;
  padding: 1em;
  flex-direction: column;
  border: 1px solid #FF66B3;
  box-shadow:
    calc(var(--shadow-size) * 0.5) calc(var(--shadow-size) * 0.5) 0 #FF66B3,
    calc(var(--shadow-size) * 1) calc(var(--shadow-size) * 1) 0 #000000,
    calc(var(--shadow-size) * 1.5) calc(var(--shadow-size) * 1.5) 0 #ffd500,
    calc(var(--shadow-size) * 2) calc(var(--shadow-size) * 2) 0 #000000
}

.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  /* content: "" counter(start-from, decimal-leading-zero) ". "; */
  line-height: 100%;
  text-align: right;
}

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em;
  /* 13px /16 */
  color: var(--primary-font-color);
}

.postlist-date {
  word-spacing: -0.5px;
}

.postlist-link {
  text-decoration: none;
}

.postlist-item-active .postlist-link {
  font-size: 2em;
  font-weight: bold;
}

.tmpl-post {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tmpl-home .postlist-link {
  font-size: 1.75em;
  font-weight: 700;
}


/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.85em;
  padding: 0.08333333333333em 0.3333333333333em;
  margin-right: .5em;
  margin-top: 1em;
  color: var(--primary-font-color);
  border: 1px solid var(--gray);
  border-radius: 0.25em;
  text-decoration: none;
  line-height: 2;
}

a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}

a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--primary-border-color);
  color: var(--secondary-font-color);
}

.postlist-item>.post-tag {
  align-self: center;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em;
  /* 16px 10px /16 */
}

.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover>a[href].direct-link,
:hover>a[href].direct-link:visited {
  color: #aaa;
}

.post-layout {
  display: flex;
  align-content: center;
  align-items: center;
  width: 65%;
}

.post-aside {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  text-align: left;
}

.post-aside>h2 {
  font-size: 1.125em;
}

.post-aside ul li {
  width: 100%;
  max-width: 37em;
  line-height: 1.5;
  font-size: 1.125em;
  margin: 5px 0;
}

/* Post */
.post-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.post-content h1 {
  font-size: 2em;
}

.post-content.with-aside {
  width: 90%
}

.post-header {
  display: flex;
  width: 100%;
  flex-flow: column;
  margin: 1em 0;
}

.post-header .post-title {
  margin: 3em 0;
}

.post-header sub {
  font-size: 1.2em;
  font-style: italic;
}

@media (max-width: 1300px) {
  .post-layout {
    flex-direction: column;
  }

  .post-content.with-aside {
    width: 100%;
  }

  .post-aside {
    width: 100%;
    align-items: center;
  }

  .post-aside ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .post-aside ul li {
    width: 100%;
    max-width: 37em;
    line-height: 1.5;
  }
}


.post-content {
  padding: 1em 0;
}

.post-content p {
  width: 100%;
  max-width: 42em;
  text-align: left;
  font-size: 1.125em;
  text-justify: initial;
}

.footer ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 3em;
}

.footer ul li {
  margin: 0 1em;
}

.capitalize {
  text-transform: capitalize;
}

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  width: var(--switch-size);
  height: calc(var(--switch-size) / 2);
  margin: calc(var(--switch-size) / 2);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--switch-background);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "🌞";
  height: calc(var(--switch-size) / 2);
  width: calc(var(--switch-size) / 2);
  left: 0;
  bottom: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: calc(var(--switch-size) / 2);
  background-color: white;
  border: 1px solid #d2d2d2;
}

input:checked+.slider {
  background-color: #d2d2d2;
}

/* 
input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
} */

input:checked+.slider:before {
  content: "🌚";
  -webkit-transform: translateX(calc(var(--switch-size) / 5));
  -ms-transform: translateX(calc(var(--switch-size) / 5));
  transform: translateX(calc(var(--switch-size) / 5));
}

/* Rounded sliders */
.slider.round {
  border-radius: 35px;
}

.slider.round:before {
  border-radius: 50%;
}

/* fonts */
h1 {
  margin: 0;
}

h1.main-title {
  --title-size: 10em;
  --shadow-size: .05em;
  font-size: var(--title-size);
  font-family: 'Bebas Neue', -apple-system, system-ui, sans-serif;
  margin: 0;
  color: var(--primary-font-color);
  line-height: 1em;
  text-shadow:
    calc(var(--shadow-size) * 0.5) calc(var(--shadow-size) * 0.5) 0 #FF66B3,
    calc(var(--shadow-size) * 1) calc(var(--shadow-size) * 1) 0 #000000,
    calc(var(--shadow-size) * 1.5) calc(var(--shadow-size) * 1.5) 0 #ffd500,
    calc(var(--shadow-size) * 2) calc(var(--shadow-size) * 2) 0 #000000,
    calc(var(--shadow-size) * 2.5) calc(var(--shadow-size) * 2.5) 0 #6fffe9,
    calc(var(--shadow-size) * 3) calc(var(--shadow-size) * 3) 0 #000000,
    calc(var(--shadow-size) * 3.5) calc(var(--shadow-size) * 3.5) 0 #6f2dbd,
    calc(var(--shadow-size) * 4) calc(var(--shadow-size) * 4) 0 #000000
}

/* Toggle */
.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-theme {
  position: relative;
  width: var(--switch-size);
  height: calc(var(--switch-size) / 2);
}


.gallery {
  display: flex;
  grid-gap: 2.5em;
  flex-wrap: wrap;
}

.gallery img {
  max-width: 600px;
}

@media only screen and (max-width: 600px) {
  h1.main-title {
    --title-size: 8em;
  }

  h2 {
    font-size: 1.5em;
  }

  .post-layout {
    width: 100%;
  }

  .post-content p {
    width: 100%;
    max-width: 100%;
  }

  .gallery img {
    width: 100%;
  }
}
