---
layout: layouts/home.njk
title: Home
eleventyNavigation:
  key: 🪐 Home
  order: 1
---

<h1 class="main-title">Aleen Rótor</h1>

<h2>Elena Torró's procedural art mixed bag</h2>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
