---
layout: layouts/home.njk
title: Home
eleventyNavigation:
  key: 🪐 Home
  order: 1
---

<h1 class="main-title">Aleen Rotor</h1>

<h2>Procedural art sandbox</h2>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
