---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="header">
  <h1 class="main-title">Aleen Rotor</h1>
  <h2>Expressing myself through code & art.</h2>
</div>

<div class="post-layout">
  <div class="post-content">
    {{ content | safe }}
  </div>
</div>
